.start-button {
    background-color: green;
    color: white;
  }
  
.pause-button {
    background-color: orange;
    color: white;
}
  
.reset-button {
    background-color: red;
    color: white;
}
  
.show-times div {
    text-align: center;
    font-size: 25px;
}

.show-times h1 {
    font-size: 85px;
    text-align: center;
}

.show-cycles div {
    font-size: 25px;
    text-align: center;
}

.show-cycles h1 {
    font-size: 85px;
    text-align: center;
}